.column1 {
  width: 300px;
  float: left;
  background-color: orange;
  margin: 30px;
  text-align: center;
}

img {
  width: 80%;
}

.contact {
  text-align: center;
  margin: 12px;
  border: 5px solid pink;
  padding: 4px;
  background-color: wheat;
}

.column2 {
  width: 300px;
  float: left;
  background-color: blue;
  margin: 30px;
  text-align: center;
}

.column3 {
  width: 300px;
  float: left;
  background-color: yellow;
  margin: 30px;
  text-align: center;
}
